html
    head
        title= title
        link(rel='stylesheet', href='/style/aftertrauma.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        .container#container
            nav.titlebar
                button#back cancel
                h1= title
                button#save( data-section= section data-category= document.category data-document= document._id data-index= index data-type= block.type ) save
            .block-editor
                input#title(type='text' value= block.title placeholder='title') 
                if block.type == "text"
                    textarea#content  !{block.content}
                    .block#preview !{block.content}
                else if block.type == "image"
                    .drop-area
                        .progress
                        img#content.block( src= block.content )
                    
                else 
                    .drop-area
                        .progress
                        video#content.block( src= block.content controls )
                    
                - var tags = block.tags ? block.tags.join() : '';
                input#tags(type='text' value= tags placeholder='tags')   
        script(src='/scripts/aftertrauma.js')
