html
    head
        title= title
        link(rel='stylesheet', href='/style/aftertrauma.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        .container#container
            nav.titlebar
                button#back back
                h1= title
                button#add( data-section= section data-category= category._id ) +
                button#save( data-section= section data-category= category._id ) save
            input#title(type='text' value= category.title placeholder='category name')
            .list#documents( data-sortable=true )
                each document in documents
                    .list-item( data-type='document' data-category= category._id data-id= document._id )
                        h2= document.title
                        .delete
                        .reorder
                else 
                    .list-item
                        h2 no data
        script(src='/scripts/Sortable.js')
        script(src='/scripts/aftertrauma.js')
