html
    head
        title= title
        link(rel='stylesheet', href='/style/aftertrauma.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        .container#container
            nav.titlebar
                button#back back
                h1= title
                button#add( data-category= category data-item= item ) +
                button#save( data-category= category data-item= item ) save
            input#title( type='text' value= itemTitle ) 
            .list
                for block, index in blocks
                    if block
                        - var tags = block.tags.join();
                        .block( data-type='block' data-category= category data-item= item data-index= index data-title= block.title data-content= block.content data-tags= tags ) !{block.content}
                            .delete
                else 
                    .list-item
                        h2 no data
        .menu
            .menu-item( data-type='text' ) Text
            .menu-item( data-type='image' ) Image
            .menu-item( data-type='video' ) Video
        script(src='/scripts/aftertrauma.js')
