html
    head
        title= title
        link(rel='stylesheet', href='/style/aftertrauma.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        .container#container
            nav.titlebar
                button#back back
                h1= title
                button#add( data-section= section ) +
                button#save( data-section= section ) save
            .list#categories( data-sortable=true )
                each category in categories
                    .list-item( data-type='item' data-section= category.section data-id= category._id )
                        h2= category.title
                        .delete
                        .reorder
                else 
                    .list-item
                        h2 no data
        script(src='/scripts/Sortable.js')
        script(src='/scripts/aftertrauma.js')
